@model ClienteMVC.Models.BlobDto

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar</h1>

<h4>Nova imagem</h4>
<hr />
@using (Html.BeginForm("Create", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="photo" />
            </div>
        </div>
        <br>
        <div class="form-group">
            &nbsp;
                <input type="submit" value="Enviar" class="btn btn-primary" />

        </div>
    </fieldset>
   
}
<br />
<div>
    <a asp-action="Index">Voltar</a>
</div>

