<h1>Coleção</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Descrição
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Dead of Winter
            </td>
            <td>
                Jogo cooperativo de sobrevivência psicológica
            </td>
        </tr>
        <tr>
            <td>
                Mansions of Madness
            </td>
            <td>
                Jogo de tabuleiro totalmente cooperativo, orientado por um aplicativo, de horror e mistério
            </td>
        </tr>
        <tr>
            <td>
                Tokaido
            </td>
            <td>
                Jogo estratégico extraordinariamente tranquilo e fácil de aprender
            </td>
        </tr>
        <tr>
            <td>
                Wingspan
            </td>
            <td>
                 Jogo de tabuleiro com a mecânica de engine building (construção de motores de produção)
            </td>
        </tr>
        <tr>
            <td>
                Catan
            </td>
            <td>
                Jogo clássico
            </td>
        </tr>
        <tr>
            <td>
                Pandemic
            </td>
            <td>
                Jogadores assumem o papel de especialistas cuja missão é tratar os focos da doença enquanto pesquisa a cura para cada uma de quatro pragas.
            </td>
        </tr>
    </tbody>
</table>